<!DOCTYPE html>
<html lang="en">
	<head>
	    
		<%- include('../partials/head') %>
	
		<link rel="stylesheet" href="/css/detalleproducto.css">
		<title>The Shoes Company</title>
	
	
</head>
<body>
	<%- include('../partials/header') %>
	
	<main>

    <div class="formulario">
			<div class="titulo">
				<h1 > <em> Creacion de producto </em> </h1>
			</div>
		<div class="erroresJs">
			<ul>
				
			</ul>
		</div>
		<div>
			<form class="camposCrearEdit" name="camposCrearEdit"  action="/products/createproduct" method="POST" enctype="multipart/form-data">
				<div>
					<div>
						<label for="name" class="">Nombre del producto:</label>
						<input type="text" id="name" name="name">
					</div>
					<div >
						<label>Descipción:</label>
						<input type="text" id="description"  name="description">
					</div>
					<div>
						<label for="img">Imagen para el Producto:</label>
						<input type="file" name="img" accept=".jpg" id="img">
					</div>
					<div>
						<label for="img">Imagen 1 de Producto:</label>
						<input type="file" name="img" accept=".jpg" id="img">
					</div>
					<div>
						<label for="img">Imagen 2 de Producto:</label>
						<input type="file" name="img" accept=".jpg" id="img">
					</div>
					<div>
						<label for="img">Imagen 3 de Producto:</label>
						<input type="file" name="img" accept=".jpg" id="img">
					</div>
					<div>
						<label for="size">Talle:</label>
						<select name="size" id="size" class="form-input">
							<option value="">Elegí</option>
							<<% for( let i = 0; i <  talle.length; i++) { %>
								<option value= "<%= talle[i].size %>"><%= talle[i].size %></option>
							<% } %>
						</select>
					</div>
					<div>
						<label for="color">Color:</label>
						<select name="color" id="color" class="form-input">
							<option value="">Elegí</option>
							<<% for( let i = 0; i < color.length; i++) { %>
								<option value= "<%= color[i].color %>"><%= color[i].color %></option>
							<% } %>
						</select>
					</div>
					<div>
						<label for="price" class="form-label">Precio del producto:</label>
						<input type="text" id="precio" name="precio">
					</div>
					<div>
						<label for="category" class="form-label">Categoría:</label>
						<select name="category" id="category" class="form-input">
							<option value="">Elegí</option>
							<% for( let i = 0; i< category.length; i++ ) { %>
								<option value= "<%= category[i].category %>"><%= category[i].category %></option>
							<% } %>
						</select>
					</div>
					<div >
						<label>Stock:</label>
						<input type="text" id="description" name="stock">
					</div>
					<div>
						<label for="sale" class="form-label">Sale Status:</label>
						<select name="sale" id="sale" class="form-input">
							<option value="">Elegí</option>
							<option value="on-sale">On-Sale</option>
							<option value="last-month">Last-Month</option>
						</select>
					</div>
					<div>
					<button type="submit" class="submit">Guardar producto</button>
					<button type="reset"> Borrar formulario</button>
					</div>
				</div>
			</form>
		</div>

	</div>

	<%- include('../partials/footer') %>

</main>

<script src="/js/validacionCrearEdit.js"></script>


</body>
</html>