<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;386;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/login.css">
    <title>Crear cuenta The Shoes Company</title>

</head>
<body>

    <%- include('../partials/header') %>
    
<main>
    <div>
        <h1 class="titulo"><em>Login</em></h1>
    </div>

<!---->
<main>
           <form class = "camposLogin" action="/users/login" name="loginForm" method="POST">
                <input type="email" id="email" name="email"  placeholder = "Email"  value= '<%= locals.old && old.username? old.username : ""%>'  size="30" autofocus>
                <% if (locals.error && error.email) { %>
                        <div class="error">
                            <%= error.email.msg %> 
                        </div>
                 <% } %>
                <br><br>
                <div id="errorEmail"></div>
                <input type="password" id="password" name="password" placeholder="Password" size="30">
                <% if (locals.error && error.password) { %>
                    <div>
                        <%= error.password.msg %>
                    </div>
                 
                <% } %><br><br>
                <div id="errorPassword"></div>
                <input type="checkbox" name="checkbox"> Recordar mi usuario<br><br>
                <div class = "submitButton"enviar>
                    <button type="submit">Ingresa a tu cuenta </button>
                    <br>
                    <br>
                    <a href="#">Olvide mi contraseña</a> <br><br>
                </div>
          
          
                <div class="linkLogin">
                    <br>
                    <p>No tienes una cuenta ?</p>
                    <a href="/users/register"> ingresa aqui</a> 
                </div>
                
           </form>

        </main>
           
<script src="/js/validacionLogin.js"></script>
<%- include('../partials/footer') %>
</body>
</html>